%div.header-container
  %h1 Entries for #{@journal.title}!
  =paginate @entries
%hr

%nav.entries-nav
  %ul
    %li
      =link_to "New Entry", new_journal_entry_path(@journal),method: :get, class: 'newEntry'
    %li
      -#NOTE: this needs cleaned up -> don't need to pass in an entry id
      =link_to "Calendar", journal_entry_calendar_path(@journal, :entry_id => 41), method: :get,  class: 'calEntry'
    %li 
      =link_to "Archive", journal_entries_path, class: 'archiveEntry'


%div.entries-container
  -div_num = 0
  -@entries.each do |entry|
    %div{class: "entry-#{div_num}"}
      - background_image = entry.image_url ? entry.image_url.to_s : "/entryDefault.jpeg"
      %div.image-container{:style => "background-image: url('#{background_image}')"}
      %h2.title #{entry.title}
      %div{class: "entry-#{div_num}-hover"}
        =link_to "View Entry", journal_entry_path(@journal, entry), method: :get
      - div_num += 1




