%div.journals-container
  %h1 My Journals
  - if @journals.empty?
    %p There aren't any journals yet.
  - else
    - sorted_by_date = (params[:sort] == 'updated_at')
    = link_to_unless sorted_by_date, "Sort: Date", user_journals_path(current_user, sort: :updated_at)
    = link_to_if sorted_by_date, "Sort: Alphabetical", user_journals_path

  = button_to "Add New Journal", new_user_journal_path(current_user), method: :get, class: 'add-journal-btn'

  %hr

  - @journals.each do |journal|
    %div.journal
      %div.notebook-lines
      %ul
        %li #{journal.updated_at.strftime("%b %d, %Y")}
        %li #{journal.title}
        %li
          = link_to "Edit", edit_user_journal_path(current_user, journal)
          %span
            = link_to "Delete", user_journal_path(current_user, journal), method: :delete
        %li
          = link_to "View!", journal_entries_path(journal)

