%div.journals-container
  %h1 My Journals
  - if @journals.empty?
    %p There aren't any journals yet.
  - else
    - sorted_by_date = (params[:sort] == 'updated_at')
    = link_to_unless sorted_by_date, "Sort: Date", journals_path(sort: :updated_at)
    = link_to_if sorted_by_date, "Sort: Alphabetical", journals_path

  = button_to "Add New Journal", new_journal_path, method: :get, class: 'add-journal-btn'

  %hr

  // TEST AREA FOR JOURNAL LAYOUT
  - @journals.each do |journal|
    %div.journal
      %div.notebook-lines
      %ul
        %li #{journal.updated_at.strftime("%b %d, %Y")}
        %li #{journal.title}
        %li
          = link_to "Edit", edit_journal_path(journal)
          %span
            = link_to "Delete", journal_path(journal), method: :delete
        %li
          = link_to "View!"

